
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    font-style:inherit;
    backface-visibility: hidden;
}
